@import '~bootstrap/scss/bootstrap';
@import './admin.scss';

body{
  font-family: 'Nunito', sans-serif !important;
}

.custom-btn {
  width: 9.375rem;
  padding: 0.5rem 2.5rem;
}

.intro {
  margin-top: 3rem;
}

@media (min-width: 992px) {
  .modal-lg, .modal-xl {
    max-width: 1200px;
  }
}